{% extends "base_generic.html" %}

{% block main %}
<!-- Background image -->
<div class="p-5 justify-content-lg-between text-center bg-image"
  style="background-image: url('https://images.pexels.com/photos/3747464/pexels-photo-3747464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 400px; margin-top: 0px;">
  <div class="mask" style="background-color: rgba(66, 40, 40, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">LiveBooks</h1>
        <h4 class="mb-3">"I have always imagined that Paradise will be a kind of library."</h4>
        <h5 class="mb-3 fst-italic">Jorge Luis Borges</h5>
        <a class="btn btn-outline-light btn-lg" href="{% url 'books' %}" role="button">Look our collection</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}